<h1>BinToDec</h1>
<p>Enter any series of zeros or ones into the box below and hit convert to see what that number is in decimal format</p>
<input id="input" type="text" name="in" value="enter 0 or 1's"><p id="output" style="display:inline"></p>
<br>
<button name="convert" onclick="document.getElementById('output').innerHTML = convert(document.getElementById('input').value)">Convert</button>
