<h1>BinToDec#index</h1>
<input id="input" type="text" name="in"><p id="output"></p>
<button name="convert" onclick="document.getElementById('output').innerHTML = convert(document.getElementById('input').value)">Convert</button>
