<h1>Projects</h1>

<table>
  <tr>
    <th>File</th>
  </tr>
 
  <% files = Dir.glob("app/views/projects/*") %>
  <% puts "files" %>
  <% puts files %>
  <% files.each do |file| %>
    <tr>
      <td><%= file %></td>
    </tr>
  <% end %>
</table>
