<h1>Projects</h1>
 
<table>
  <tr>
    <th>Project</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><%= link_to 'Bin2Dec', 'bin_to_dec' %></td> 
    <td>Binary-to-Decimal number converter</td>
  <tr>
</table>
