<h1>BorderRadius</h1>
<p>Grab the sliders to change the border radius of the shape.</p>

<div class="container">

    <div class="slider slider-top">
        <input type="range" min="0" max="100" value="50">
    </div>

    <div class="slider slider-left">
        <input type="range" orient="vertical" min="0" max="100" value="50">
    </div>

    <div class="shape-container">
        <div class="shape"></div>
    </div>

    <div class="slider slider-right">
        <input type="range" orient="vertical" min="0" max="100" value="50">
    </div>

    <div class="slider slider-bottom">
        <input type="range" min="0" max="100" value="50">
    </div>

</div>
