.container {
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container > * {
    flex: 1 100%;
}

// .slider-top {}

.slider-left-container {
    order: 1;
    flex: 1 auto;
    align-self: center;
}

.shape-container {
    order: 2;
    flex: 2 0px;
}

.shape {
    align-self: center;
    height: 300px;
    width: 300px;
    background-color: rgb(13, 203, 228);
    border-radius: 50%;
    margin: 20px;
}

.slider-right-container {
    order: 3;
    flex: 1 auto;
    align-self: center;
}

.slider-bottom-container {
    order: 4;
}

.slider input {
    display: flex;
    margin: auto;
}
